@page
@model CBTDWeb.Pages.Categories.IndexModel

<h1>Category List</h1>
<table class="table table-bordered table-striped" style="width:100%">
    <thread>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Display Order
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thread>
    <tbody>
        <!--Loop though to create each row-->
        <tr>
            <td style="width: 50%">CATEGORY NAME FOR DATABASE</td>
            <td style="width: 30%">DISPLAY ORDER  FOR DATABASE</td>
            <td style="width: 20%">EDIT DELERE BUTTONS GO HERE</td>
        </tr>
    </tbody>
</table>
